/* Ici, on configure la police d'écriture présente dans le dossier ressources (au format ttf) pour la rendre utilisable dans le code. */
@font-face {
  font-family: PacManFont;
  src: url("./ressources/PAC-FONT.TTF");
}
@font-face {
  font-family: DefaultFont;
  src: url("./ressources/default.TTF");
}

/* La pseudo-class ":root" permet d'accéder à la racine de l'arbre représentant le document.
Cela reviendrait à spécifier "html" comme on peut spécifier "header" ou "h1"ou n'importe
quel autre élément. L'avantage d'utiliser ":root" permet cependant en plus de créer
des variables. Cela va me permettre de garder les mêmes valeurs pour des margin, 
des padding ou même des couleurs.

Dans la suite du programme je vais donc pouvoir utiliser des variables qui s'écriront
d'après la syntaxe suivante: var(--ma-variable);*/
:root {
  --menu-background-color: rgba(25, 25, 25, 0.6);
  --header-border-margin: 75px;
  --transition-time: 150ms;
  --text-transition-time: 200ms;
  --blocks-margin: 100px;
  --blur: 20px;
}

/* Écrire des propriétés css sur la pseudo-class "*" permet de définir l'êtat par défaut de ces paramètres pour toute la page. */
* {
  margin: 0;
  padding: 0;
  font-family: defaultFont;
}

/* Avec l'attribut "::before" on charge des propriétés css 
avant le chargement du reste de la page. Ici, cela permet d'appliquer un effet de flou
grace à l'élément "filter" avec la fonction blur()

l'élément "z-index" permet de sélectionner quels éléments vont être affichés
au dessus des autres. Plus l'index indiqué est élevé, plus l'élément 
passait par dessus d'autres.

"background-size: cover" permet de faire en sorte à ce que l'image
prenne toute la place dans l'écran pour éviter qu'elle défile au scroll

"-webkit-filter: blur()" permet de faire en sorte à ce que l'effet de flou
s'applique quel que soit le navigateur
*/

body::before {
  content: "";
  position: fixed;
  z-index: -5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./ressources/pac-man_game.jpg.webp");
  background-size: cover;
  filter: blur(var(--blur));
  padding: 50px;
  -webkit-filter: blur(var(--blur));
}

/* Permet de faire en sorte à ce que l'effet de flou ne créée pas
une bordure blanche en fondu. A la place on la remplace par une bordure en fondu noir
qui se voit moins sur ce fond d'écran.*/
body {
  background-color: #000000;
  text-align: center;
}

/* Mise en page de l'entête de la page */
header {
  padding: 40px;
  position: relative;
  background-color: var(--menu-background-color);
  margin-top: 40px;
  margin-left: var(--header-border-margin);
  margin-right: var(--header-border-margin);
  border-radius: 15px;
}

a.header {
  color: #ffffff;
  text-decoration: none;
  font-size: 40px;
  transition: var(--transition-time);
  font-family: PacManFont, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 100px;
}
a.header:hover {
  font-size: 45px;
  transition: var(--transition-time);
}

.logo {
  height: 60px;
  width: auto;
  margin-right: 50px;
  margin-left: 50px;
}


/* Mise en page des divisions pour créer ces bulles dans lesquelles apparaissent les informations */

.block {
  border-radius: 10px;
  background-color: var(--menu-background-color);
  margin-left: var(--blocks-margin);
  margin-top: var(--blocks-margin);
  padding: 50px;
  width: 500px;
  height: auto;
  display: grid;
}

.block h1 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  transition: var(--text-transition-time);
}

.block p {
  color: #555555;
  margin: 10px;
  font-size: large;
  transition: var(--text-transition-time);
}

.block li {
  color: #555555;
  margin-top: 20px;
  font-size: large;
  transition: var(--text-transition-time);
}

.block table, td {
  border: 1px solid #444;
  color: #555555;
}

/* En séparant deux éléments par une virgule, on applique alors les propriétés css
aux deux balises. */
.block:hover h1 {
  color: #555555;
  transition: var(--text-transition-time);
}
.block:hover p {
  color: #ddd;
  transition: var(--text-transition-time);
}
.block:hover table {
  color: #bbbbbb;
  transition: var(--text-transition-time);
}
.block:hover td {
  color: #ddd;
  transition: var(--text-transition-time);
}
.block:hover li {
  color: #ddd;
  transition: var(--text-transition-time);
}
/* p table td*/


/* On place manuellement les divisions à leur place grâce a la deuxième classe
qui leur est attribuée */

/* On commence par la division b car la première est correctement placée par défaut */
.b {
  margin-top: -125px;
  margin-left: 950px;
}

.c {
  margin-top: -125px;
}

/* Ici, on utilise le footer dans le seul but de garder un peu d'espace en dessous de
la dernière division.*/
footer {
  height: 30px;
}